<!DOCTYPE HTML>
<html>
	<head>
		<title>Aquila</title>
		<script type="text/javascript" src="../javascripts/lib/jquery.min.js"></script>
		<script type="text/javascript" src="../javascripts/lib/jquery.hammer.min.js"></script>
		<script type="text/javascript" src="../javascripts/lib/three.min.js"></script>

		<script type="text/javascript" src="../javascripts/lib/THREEx.FullScreen.js"></script>
		<script type="text/javascript" src="../javascripts/lib/detector.js"></script>
		<script type="text/javascript" src="../javascripts/lib/stats.js"></script>

		<script type="text/javascript" src="../javascripts/aquila.js"></script>
		<script type="text/javascript" src="../javascripts/main.js"></script>

		<!-- Application Javascript -->
		<script type="text/javascript" src="../javascripts/lib/config.js"></script>
		<script type="text/javascript" src="../javascripts/lib/environment.js"></script>
		<script type="text/javascript" src="../javascripts/lib/logic.js"></script>

		<!-- Oculus Development -->
		<script type="text/javascript" src="../javascripts/oculus/oculusRiftEffect.js"></script>
		<script type="text/javascript" src="../javascripts/oculus/OculusBridge.min.js"></script>
		<script type="text/javascript" src="../javascripts/oculus/headTracking.js"></script>

		<link rel="stylesheet" type="text/css" href="../stylesheets/main.css">

		<body>
			<div id="aquila" style="">
			</div>
			<div class="controls">
				<button class="fullscreen btn">
					<span class="up icon">
						&#8599;
					</span>
					<span class="down icon">
						&#8601;
					</span>
				</button>
			</div>

			<script>
				init({
					$target: $('#aquila'),
					videoURL: '../videos/show.mp4'
				});
			</script>

			<script type="text/javascript">
				function animate(){
					Config.render();

					requestAnimationFrame(function(){
						animate();
					});
				}

				Config.init();
				animate();
			</script>
		</body>
	</head>
</html>