<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <script type="text/javascript" src="../javascripts/lib/jquery.min.js"></script>
    <script type="text/javascript" src="../javascripts/lib/jquery.hammer.min.js"></script>
    <script type="text/javascript" src="../javascripts/lib/three.min.js"></script>

    <script type="text/javascript" src="../javascripts/lib/THREEx.FullScreen.js"></script>
    <script type="text/javascript" src="../javascripts/lib/detector.js"></script>
    <script type="text/javascript" src="../javascripts/lib/stats.js"></script>

    <script type="text/javascript" src="../javascripts/aquila.js"></script>
    <script type="text/javascript" src="../javascripts/main.js"></script>

    <!-- Oculus Rift Code -->
    <script src="../lib/OculusBridge.min.js"></script>
    <script src="../lib/RiftCamera.js"></script>

    <link rel="stylesheet" type="text/css" href="../css/main.css">
    <title>Welcome to Aquila</title>
    <body>
      <h1>Hello World!<h1>
    </body>
  </head>
</html>
